<div class="breadcrumbs-container">
    <a class="breadcrumb" href="/account" >
        {% render 'icon', name: 'carousel-arrow--left', class: 'button__icon' %} {{ 'custom.breadcrumbs.back_to_account' | t }}
    </a>
</div>
