<div class="page-section page-section--404 page-section--page page-section--gap-bottom">
    <div class="page-header">
        <div class="page-header__content">
            <h1 class="page-header__title">{{ 'general.404.title' | t }}</h1>
        </div>
    </div>

    <p class="error-message">{{ 'general.404.subtext_html' | t }}</p>
</div>

{% schema %}
    {
      "name": "Main Content - 404",
      "tag": "section"
    }
{% endschema %}
