<div class="page-header page-header--password">
    <div class="container">
        <div class="page-header__content">
            {% if section.settings.password-page-image != blank %}
                <div class="password-page__image-wrapper">
                    {% render 'responsive-image' with
                        image_desktop: section.settings.password-page-image,
                        image_mobile:  section.settings.password-page-image,
                        lazy:          false
                    %}
                </div>
            {% endif %}
            <h1 class="page-header__title">{{ section.settings.page-header-title }}</h1>
            <div class="page-header__description">{{ section.settings.page-header-description }}</div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Password Content",
    "tag": "section",
    "class": "page-section page-section--page page-section--password-page",
    "settings": [
        {
            "type": "image_picker",
            "id": "password-page-image",
            "label": "Logo Image",
            "info": "Optional - display logo above the password form"
        },
        {
            "type": "text",
            "id": "page-header-title",
            "label": "Title",
            "default": "We're making updates!"
        },
        {
            "type": "richtext",
            "id": "page-header-description",
            "label": "Description"
        }
    ]
}
{% endschema %}

